page-chat {
  span, p, button, div {
    font-family: "Oswald-Regular";
  }
  .header{
    background: linear-gradient(89deg, #FFA74A, #ED0066);
    padding-top: 8px;
    padding-bottom: 6px;
  }
  .missing{
    min-height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .missing-text {
    text-align: center;
    font-family: 'Oswald-Regular' !important;
  }
  .header{
    background: linear-gradient(89deg, #FFA74A, #ED0066);
    padding-top: 8px;
    padding-bottom: 6px;
  }

  .grid-g{
    margin-bottom: 30px;
  }

  .gridactive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gridactive > *:not(.noflex) {
    flex: 1;
  }

  .img_header{
    width: 100%;
  }

  .txt_header{
    position: relative;
  }

  .txt_header .title_type,.txt_header .title_header{
    position: absolute;
    z-index: 2;
    //font-family: 'Roboto';
    color: #ffffff;
    margin-left: 40px;
  }

  .txt_header .title_type{
    bottom: 90px;
    font-size: 12px;
    line-height: 25px;
    background-color: #9B8D9C;
    width: 61px;
    height: 25px;
    text-align: center;
    padding: 0;
    border-radius: 3px;
  }

  .card_type2{
    position: absolute;
    z-index: 2;
    font-family: 'Oswald-Regular';
    color: #ffffff;
    margin-left: 32px;
    top: 0px;
    //left:252px;
    font-size: 12px;
    line-height: 25px;
    background-color: #9B8D9C;
    white-space: nowrap;
    //width: 71px;
    height: 25px;
    text-align: center;
    padding: 0;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
  }
  // .card_type3{
  //   position: absolute;
  //   z-index: 2;
  //   font-family: 'Roboto';
  //   color: #ffffff;
  //   margin-left: 32px;
  //   top: 0px;
  //   right: 0px;
  //   font-size: 12px;
  //   line-height: 25px;
  //   background-color: #9B8D9C;
  //   white-space: nowrap;
  //   //width: 71px;
  //   height: 25px;
  //   text-align: center;
  //   padding: 0;
  //   border-radius: 3px;
  //   padding-left: 4px;
  //   padding-right: 4px;
  // }

  .card_type2_row{
    position: absolute;
    z-index: 2;
    font-family: 'Oswald-Regular';
    color: #ffffff;
    margin-left: 32px;
    top: -29px;
    right:17px;
    font-size: 12px;
    line-height: 25px;
    background-color: #9B8D9C;
    white-space: nowrap;
    //width: 71px;
    height: 25px;
    text-align: center;
    padding: 0;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .card_type2_grid{
    display:none!important;
  }

  .txt_header .title_header{
    bottom: 0;
    width: 179px;
    //line-height: 40px;
    font-size: 24px;
  }

  .title_grid1 {
    font-size: 12px !important;
    line-height: 16px;
    color:  #000000;
    margin: 0;
    font-family:'Roboto';
  }

  .title_grid2 {
    font-size: 12px !important;
    line-height: 14px;
    color:  #4D4D4D;
    margin: 0;
    font-family:'Roboto';
  }

  h3{
    font-family:'Oswald-Regular';
  }

  .content_card {
    padding: 10px !important;
  }

  .title_up{
    font-size: 12px !important;
    line-height: 14px;
    color:  #C4C4C4;
    font-family: 'Oswald-regular';
    margin: 0;
  }

  .grid2{
    .title_grid1{
      font-size: 16px !important;
      line-height: 19px;
      color:  #000000;

    }

    .title_grid2{
      font-size: 16px !important;
      line-height: 19px;
      color:  #4D4D4D;
    }

    .content_txt{
      display: flex;
      align-items: center;
    }

    .col-xs-card{
      margin-top: 0;
      margin-bottom: -8px;
    }

    .card_type{
      font-size: 12px;
      line-height: 25px;
      background-color: #9B8D9C;
      width: 61px;
      height: 25px;
      text-align: center;
      padding: 0;
      border-radius: 3px;
      position: relative;
      z-index: 2;
      font-family: 'Roboto';
      color: #ffffff;
      right: -78%;
      margin-top: -3px;
      -webkit-box-shadow: 0px 3px 6px #444;
      box-shadow: 0px 3px 6px #444;
      top: 23px;
    }

    .card_type2{
      background-color: #EFCEC5 !important;
      width: 78px !important;
      right: -74% !important;
    }

    .col-xs-card ion-card{
      border-radius: 5px;
    }

    .bg{
      background-color: #F9E7D4;
      margin-top: 20px;
      width: 100%;
      padding-bottom: 18px;
    }

    .bg_title{
      font-size: 24px;
      line-height: 36px;
      font-family: 'Roboto';
      color: #4D4D4D;
      margin-bottom: -25px;
    }

    .bg_hr {
      display: inline-block;
      width: 35%;
      height: 3px;
      background-color: #4D4D4D !important;
      position: absolute;
      margin-top: 22px;
      right: 0;
    }

    .bg{
      .style_card2{
        ion-card{
          margin-bottom: -18px;
        }
      }
    }

  }

  .grid-list {
    margin-bottom: 12px;
  }
  .grid-mosaic {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .grid-mosaic > * {
    width: 50%;
  }
  .grid-column {
    display: flex;
    flex-direction: column;
  }
  .grid-column > * {
  }
  .grid-right {
    ion-card {
      margin-left: 0 !important;
      margin-bottom: 0 !important;
      margin-top: 8px !important;
      margin-right: 0 !important;
      width: calc(100% - 15px) !important;
    }
  }
  .grid-left {
    ion-card {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      margin-top: 8px !important;
    }
  }

  ion-card img{
    display: inline-block;
  }
    .grid3{
      .card_type{
        font-size: 12px;
        line-height: 25px;
        background-color: #9B8D9C;
        width: 61px;
        height: 25px;
        text-align: center;
        padding: 0;
        border-radius: 3px;
        position: relative;
        z-index: 2;
        font-family: 'Oswald-Regular';
        color: #ffffff;
        right: -10%;
        margin-top: -3px;
        -webkit-box-shadow: 0px 3px 6px #444;
        box-shadow: 0px 3px 6px #444;
        top: 23px;
      }

      .card_type2{
        background-color: #EFCEC5 !important;
        width: 78px !important;
        right: -10% !important;
      }

      .title_grid1 {
        font-size: 16px !important;
        line-height: 19px;
        color: #000000;
      }

      .title_grid2 {
        font-size: 16px !important;
        line-height: 19px;
        color: #4D4D4D;
      }

      .bg{
        background-color: #F9E7D4;
        margin-top: 20px;
        width: 100%;
        padding-bottom: 18px;
      }

      .bg_title{
        font-size: 24px;
        line-height: 36px;
        font-family: 'Roboto';
        color: #4D4D4D;
        padding-left: 22px;
        margin-bottom: -25px;
      }

      .bg_hr {
        display: inline-block;
        width: 35%;
        height: 3px;
        background-color: #4D4D4D !important;
        position: absolute;
        margin-top: 22px;
        right: 0;
      }

      .bg{
        .style_card2{
          ion-card{
            margin-bottom: -18px;
          }
        }
      }
      ion-slides{
        ion-card{
       // width: calc(100% - 100px) !important;
        }
      }
  }

  .grid1{
    //margin-bottom: 10px;
    visibility: visible;
    opacity: 1;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 10px;
  }

  .pins {
    column-count: 2;
    column-gap: 0px;
    .pin {
      display: inline-block;
      margin: 4px 8px 12px 8px;
      -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  .acheter{
    height: 50px;
    z-index: 9;
    border-radius: 30px;
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: none;
    background: #FFA74A;
    -webkit-box-shadow: 1px 7px 13px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 7px 13px rgba(0, 0, 0, 0.2);
}

  .swiper-slide-next{
    margin-left: -60px;
    transition: all 0.2s ease-in-out;
  }
  .swiper-slide{
    transition: all 0.2s ease-in-out;
  }

  @media screen and (max-width: 360px) {
    .grid2 .bg_hr{
      width: 30%;
    }
  }
  @media screen and (max-width: 320px) {
    .grid2 .bg_hr{
      width: 23%;
    }
  }
  // ion-grid{
  //   homemaster:nth-of-type(2){
  //     margin-top: 31px;
  //   }
  //   homemaster:nth-of-type(5){
  //     margin-top: 31px;
  //   }
  //   homemaster:nth-of-type(8){
  //     margin-top: 31px;
  //   }
  //   homemaster:nth-of-type(11){
  //     margin-top: 31px;
  //   }
  // }


  // panier-bulle{
  //   position:relative;
  // }
  .pitco {
    width: 50px !important;
  }
    .flex-items{
        display:  flex;
        background-color: #fff;
    }
    .warning {
        background-color: #ff9494;
        padding: 16px;
    }
    .icon{
        font-size: 50px;
        opacity: 0.5;
        padding-left: 40px;
        align-self: center;
    }
    .send{
        color: #9189C7;
        font-size: 30px;
    }
    .input_message{
        border: 1px solid #9189C7;
        border-radius: 15px; 
    }
    .messages{
        height: 100%;
        position: relative;
    }
    .chats {
        height: 100%;
        position: relative;
        z-index: 0;
    }
    .chats .chatbox {
        height: 100%;
        overflow-x: hidden;
        padding: 0 16px;
        padding-bottom: 30px;
    }
    .joined {
      clear: both;
      line-height: 18px;
      font-size: 15px;
      margin: 8px 0;
      padding: 8px;
    }
    .joined span {
      padding: 5px
    }
    /* Messages*/
    .message {
      color: #000;
      clear: both;
      line-height: 18px;
      font-size: 15px;
      padding: 8px;
      position: relative;
      margin: 8px 0;
      max-width: 85%;
      word-wrap: break-word;
      z-index: -1;
    }
    .message:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
    }
    .message:first-child {
      margin: 16px 0 8px;
    }
    .message.received {
      background: #ccc;
      border-radius: 0px 5px 5px 5px;
      float: left;
    }

    .message.received:after {
      border-width: 0px 10px 10px 0;
      border-color: transparent #ccc transparent transparent;
      top: 0;
      left: -10px;
    }
    .message.sent {
      background: #e1ffc7;
      border-radius: 5px 0px 5px 5px;
      float: right;
    }
    .message.sent:after {
      border-width: 0px 0 10px 10px;
      border-color: transparent transparent transparent #e1ffc7;
      top: 0;
      right: -10px;
    }
    .scroll-content{
      padding: 0 !important;
    }
    .theme-default {

      .background-head {
          background: none;
      }
  
      .background-content-sp,.head-menu,.background-content-sp-m,{
          background-color: #222831 ;
      }
      .headers,.headerTop.fixedTop,.background-signin{
          background-color: #222831;
          background-image: url(../assets/imgs/background-explosion.png) ;
          background-repeat: no-repeat;
          background-position: cover;
          background-attachment: scroll;
          -webkit-background-size: cover;
          -webkit-clip-path: none;
      }
  
      .background-content{
          background-color: #222831;
          background-image: url(../assets/imgs/background-explosion.png) ;
          background-repeat: no-repeat;
          background-position: contain;
          background-attachment: scroll;
          -webkit-background-size: contain;
          -webkit-clip-path: none;
      }
  
      .input-search{
          background: transparent;
          border-bottom: 2px solid #fff !important;
      }
      .grid3 .bg ,.grid2 .bg{
          background: #C4C4C4;
      }
      .section,ion-list ion-item ,ion-card, .segment-produit,.item-input-c,.photo,.pins .pin{
          background: #383F4C;
      }
      .tabbar{
          background: #383F4C !important;
      }
      .menu-item{
          background-color: #222831;
      }
      .search-item {
          background: transparent !important;
      }
      .mesServices{
            color: #ffffff ;
      }
      .title-autours,.km{
          color: #ffffff;
       }
  
      .btn-inscrire,
      .swiper-pagination-bullet-active,
      .continuer,
      .suivantColor,
      .reserve,
      .btn-abonner,
      .header-p,
      .valider ,
      .container-btn,
      .btn-cp,
      .btn-active ,
      .acheter,
      .rediger-avis,
      .segment-produit-billets,
      .langue-active,
      .btn-fca,
      .acheter-mes-billets,
      .ok,
      {
          background: #5A557B!important;
          text-transform: none;
          color: #fff;
      }
      .grid3 .card-event{
          -webkit-box-shadow: 0px 3px 6px #212020;
                  box-shadow: 0px 3px 6px #212020;
      }
  
      .grid3 .bg_title,.grid2 .bg_title{color:#4D4D4D}
      .section .title-sign-in,
      .compte,.oublie,
      .label-input,
      ion-item,
  
      .refresher-pulling-text, .refresher-refreshing-text,
  
  
      .title_grid2,
      .title_grid1,
      .grid3 .title_grid2,
      .grid3 .title_grid1,
      .grid2 .title_grid2,
      .grid2 .title_grid1,
      .vosrech,
      .content-search .item .label,
      .body-produit .desc-body-produit,
      .body-produit .desc-body-produit,
      .body-produit .title-attribuer-note,
      .image-article .title-produit,
      .body-produit .title-avis,
      .radio_btn ion-label,
      .modif,
      .cnt_input p,
      .name-service ,.name-service-res,
      .title-inter,
      .ctg,
      .image-article .titer-article,
      .image-article .description-article,
      .title-interet,
      .titele-menu-item,
      .nomPrenom,
      .titel-f,
      .categorie-prix,
      .number,
      .prix-panier,
      .name-artice,
      .date-place,
      .prix-places,
      .prix-panier,
      .text-prix,
      .cart-title,
      .title,
      .content-search .bg_title,
      .content-search .title_up,
      .body-produit .desc-body-produit,
      .body-produit .title-body-produit,
      .msg,
      .title-autours,
      .dispo,
      .title-segment-b,
      .localisationChoice,
      .name-favoris,
      .zto-userFavorisNom,
      .zto-chiffre
      {
          color: #fff !important;
      }
      .adresse ,.content-search .bg_hr_lieux,.content-search .bg_hr_event,.content-search .bg_hr_articles,.note-avis{
          background: #fff !important;
      }
      .text-adresse{
          color: #4D4D4D !important;
      }
      .info{
          color: #ADA9A9 !important;
      }
      .description-inter,.Info,.title-ctg, .sous-title,.desc-body-produit-billets{
          color: #C4C4C4;
      }
      .selected,.fab-btn,.visualiser,.btn-plus{background: #9189C7;color: #fff;}
      .center-interet-border{
          border-bottom: 1px solid #000;
      }
      .item-block .item-inner{
          border-bottom: 1px solid #fff ;
      }
      .center-interet-border .item-input-c .item-inner{
          border-bottom: none  !important;;
      }
      .last-item .item-inner{
          border: none !important;
      }
      .label-input{
          color: #fff !important;
      }
      .title-segment{
          color:#9189C7 ;
      }
      .segment-produit{
          border-bottom: 3px solid #222831 ;
      }
      .range-md-oranges .range-bar-active, .range-knob, .range-md-oranges .range-pin, .range-md-oranges .range-pin::before{
          background: #7B89C7 !important;
      }
      .range-ios-oranges .range-bar-active, .range-ios-oranges .range-tick-active{
          background: #7B89C7 !important;
      }
      .range-bar{
          background: #fff !important;
      }
      .item-checkbox .item-inner {
          border-bottom: none !important;
      }
      // .containere .checkmark {
      //     background-color:transparent;
      //     border: 2px solid mad-get($colors,txt_header)!important;
      // }
      // .containere input:checked ~ .checkmark {
      //     background-color: #9189C7;
      // }
      // .containere .checkmark::after {
      //     left: 7px;
      //     top: 3px;
      //     width: 5px;
      //     height: 10px;
      //     border: solid #fff;
      //     border-width: 0 3px 3px 0;
      //     -webkit-transform: rotate(45deg);
      //     transform: rotate(45deg);
      // }
      .containere .checkmark {
          background-color:transparent;
          border: 2px solid #fff;
  
      }
      .containere input:checked ~ .checkmark {
          background-color: #fff;
      }
      .containere .checkmark::after {
          border: solid #383f4c;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      .container-radio input:checked ~ .checkmark {
          background-color: transparent;
      }
      .container-radio .checkmark{
          border: 2px solid #9189C7;
      }
      .container-radio .checkmark::after{
          background: #9189C7 !important;
      }
      .container-radio:hover input ~ .checkmark {
          background-color: transparent;
      }
      .container-radio input ~ .checkmark {
          background-color: transparent;
      }
      .km,.titel-t,.retrait,.notes,.btn-add-adresse,.text-color,.btn-billets,.active-text,.lirelasuite{
          color: #9189C7 !important;
      }
      .segment-button:hover:not(.segment-activated) .title-segment{
          color: #9189C7;
      }
      .input-search{
          border-bottom: 2px solid #5A557B;
      }
      // .favoris .fav-border {
      //     border-bottom: 1px solid #222831;
      //     border-top: 1px solid #222831;
      // }
      // .searchbar-input ,.input-search  .text-input{
      //     color: #fff;
      //     &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      //       color: #000!important;
      //     }
      //     &::-moz-placeholder { /* Firefox 19+ */
      //       color: #000!important;
      //     }
      //     &:-ms-input-placeholder { /* IE 10+ */
      //       color: #000!important;
      //     }
      //     &:-moz-placeholder { /* Firefox 18- */
      //       color: #000!important;
      //     }
      //   }
       .input-search  .text-input{
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff!important;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #fff!important;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #fff!important;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #fff!important;
          }
        }
        .searchbar-search-icon {
          background-image: url(../assets/imgs/picto_loupe_blanc.svg) !important;
        }
      .tabs-ios {
          a[aria-selected=false] {
              span {
                  color: #A2A2A2; //whatever colour you want to use for the text
              }
              .tab-button-icon[ng-reflect-name=cut],
              .tab-button-icon[aria-label="cut outline"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_actus_color_grey.svg);
              }
              .tab-button-icon[ng-reflect-name=home],
              .tab-button-icon[aria-label="home outline"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_event_grey.svg);
              }
              .tab-button-icon[ng-reflect-name=paper],
              .tab-button-icon[aria-label="paper outline"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_recherche_grey.svg);
                  border: solid  5px #383F4C;
                  border-radius: 50%;
  
              }
              .tab-button-icon[ng-reflect-name=calendar],
              .tab-button-icon[aria-label="calendar outline"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_autour_de_moi_grey.svg);
              }
              .tab-button-icon[ng-reflect-name=billets],
              .tab-button-icon[aria-label="billets outline"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_billets_grey.svg);
              }
          }
          a[aria-selected=true] {
              span {
                  color: #fff; //whatever colour you want to use for the text
              }
              .tab-button-icon[ng-reflect-name=cut],
              .tab-button-icon[aria-label="cut"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_actus_color.svg);
              }
              .tab-button-icon[ng-reflect-name=home],
              .tab-button-icon[aria-label=home] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_event_orange.svg);
              }
              .tab-button-icon[ng-reflect-name=paper],
              .tab-button-icon[aria-label=paper] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_recherche_grey.svg);
                  border: solid  5px #383F4C;
                  border-radius: 50%;
              }
              .tab-button-icon[ng-reflect-name=calendar],
              .tab-button-icon[aria-label=calendar] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_autour_de_moi_orange.svg);
              }
              .tab-button-icon[ng-reflect-name=billets],
              .tab-button-icon[aria-label=billets] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_billets_orange.svg);
              }
          }
      }
      .tabs-md {
          a[aria-selected=false] {
              span {
                  color: #A2A2A2; //whatever colour you want to use for the text
              }
              .tab-button-icon[ng-reflect-name=cut],
              .tab-button-icon[aria-label="cut"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_actus_color_grey.svg);
              }
              .tab-button-icon[ng-reflect-name=home],
              .tab-button-icon[aria-label=home] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_event_grey.svg);
              }
              .tab-button-icon[ng-reflect-name=paper],
              .tab-button-icon[aria-label=paper] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_recherche_grey.svg);
                  border: solid  5px #383F4C;
                  border-radius: 50%;
              }
              .tab-button-icon[ng-reflect-name=calendar],
              .tab-button-icon[aria-label=calendar] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_autour_de_moi_grey.svg);
              }
              .tab-button-icon[ng-reflect-name=billets],
              .tab-button-icon[aria-label=billets] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_billets_grey.svg);
              }
          }
          a[aria-selected=true] {
              //führ eventuellen text
              span {
                  color: #fff; //whatever colour you want to use for the text
              }
              .tab-button-icon[ng-reflect-name=cut],
              .tab-button-icon[aria-label="cut"] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_actus_color.svg);
              }
              .tab-button-icon[ng-reflect-name=home],
              .tab-button-icon[aria-label=home] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_event_orange.svg);
              }
              .tab-button-icon[ng-reflect-name=paper],
              .tab-button-icon[aria-label=paper] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_recherche_grey.svg);
                  border: solid  5px #383F4C;
                  border-radius: 50%;
              }
              .tab-button-icon[ng-reflect-name=calendar],
              .tab-button-icon[aria-label=calendar] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_autour_de_moi_orange.svg);
              }
              .tab-button-icon[ng-reflect-name=billets],
              .tab-button-icon[aria-label=billets] {
                  background-image: url(../assets/imgs/theme-default/tabs-darck/picto_nav_billets_orange.svg);
              }
          }
      }
  
  
       page-ajouter-favoris {
  
          .background-content {
              background-color: #222831 !important;
              background-image: url(../assets/imgs/background-explosion.png) !important;
              background-repeat: no-repeat;
            }
         .searchbar-input {
           background-color: transparent !important;
           color: #ffffff !important;
         }
         .input-search {
           background-color: #383F4C !important;
           border-bottom: 2px solid #5A557B;
           margin: 10px 0px;
           padding-right: 30px;
         }
         .searchbar-input {
           background-color: transparent !important;
           color: #ffffff !important;
         }
         .section {
           background-color: #383F4C !important;
         }
       }
  
  
  
  
      .range-bar-active {
        background-color: #5A557B;
      }
  
      // .fab {
      //   background-color: #5A557B;
      // }
  
      // .header {
      //   background-color: #5A557B;
      // }
      page-favoris-alertes{
            .selectedType{
              background:  #9189C7;
            }
            .unselectedType{
              background: #222831;
  
            }
            .selectedTypeLabel{
              color:#FFFFFF;
            }
            .unselectedTypeLabel{
               color:#bdbebe;
            }
      }
  
  
      page-mes-reglages {
          .langue{
              color: #ffffff!important;
              background-color: #5A557B !important;
          }
          .langue-active {
            background-color: #5A557B !important;
          }
          .input-search {
            border-bottom: 2px solid #5A557B !important;
          }
           .range-bar-active {
             background: #5A557B;
           }
  
           .range-knob {
             background: #5A557B;
           }
      }
  
      page-favoris-alertes {
          .btn-fc{
                  color: #ffffff;
                  background: #5A557B;
          }
      }
  
  
  
  
      // page profil type couleur :default
      page-profil {
          h2{
              color: #5A557B;
          }
        .changePass, .changePass2 {
          background: #5A557B !important;
        }
        .geder {
          color: white !important;
        }
        .text-accent{
            color:#FFFFFF!important;
        }
      }
  
      .insc{color:#fff};
  
  //image background
  .cls-1-loop{
      fill:#fff!important;;
  }
  .cls-1-menu{
      fill:#fff!important;;
  }
  .cls-1-notif-off {
      fill: none;
      stroke: #9189C7 ;
    }
  .cls-1,.cls-1-notif-on,svg>circle,svg>g>g>circle{
      fill:#9189C7 !important;
   }
   .cls-sg-noSelected{
      fill:#fff!important;;
      stroke: #fff!important;;
   }
   .cls-sg-selected{
      fill:#5A557B!important;;
      stroke: #5A557B!important;;
   }
  
  
  //caledar
  .border-right{
      border-right: 2px solid #383F4C;
      border-left: 2px solid #383F4c;
    }
  .border-top-btm{
      border-top: 3px solid #222831;
      border-bottom: 3px solid #222831;
  }
  .zto-container ion-grid ion-row{
      background-color: #383F4C;
  }
  .zto-container .zto-calendrierHeader, .zto-container .zto-continuer{
      background: #5A557B!important;
      text-transform: none;
      color: #fff !important;
  
  }
  zto-calendrier{
      .zto-backColor{
          background-color: white!important;
        }
  }
  .zto-container .center,.c-etat{
      color: #fff;
  }
  .isdisponible{
      background-color: #fff !important;
      color: #4D4D4D !important;
  }
  .iscompletcss{
      background-color: #A2A2A2;
  }
  .isannule{
      background-color: #FFA74A;
  }
  .isselected,.zto-container button
  {
     background: #9189C7!important;
      text-transform: none;
      color: #fff !important;
  }
  .zto-isnotselected{
      background: white!important;
      color:black!important;
  }
  .isnotSelected{
      background-color: #9189C7 !important;
      color: white!important;
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  
    }
  
  
  
  //caledar
  
  .note-title{
      color: #A2A2A2;
  }
  .item-input-c{
      border-bottom: 1px solid #222831;
  }
  .background-item-search {
      background: transparent;
  }
  .header-md::after {
      background-image: none;
  }
  
  .btn-plus,.btn-plus.activated{
      background: #9189C7;
  }
  .fab-btn.activated,.btn-interess.activated,.btn-reset.activated{
      background: #9189C7;
      /* WebKit */
      -webkit-transition: background 0.3s ease-in;
      /* Opera */
      /* Standard */
      transition: background 0.3s ease-in;
  }
  .btn-cp.activated{
      background: #4D4C73;
      -webkit-box-shadow: 1px 7px 13px rgba(0, 0, 0, 0.2);
              box-shadow: 1px 7px 13px rgba(0, 0, 0, 0.2);
  }
  .btn-ctn-achats.activated{
      -webkit-box-shadow:none;
              box-shadow:none;
  }
  font {
      color: #fff;
  }
  .big{
      background: #222831 !important;
  }
  
  
  .empty-list{
      .title_grid1{
        color: #FFFFFF!important;
      }
    }
    .visualiser:hover:not(.disable-hover){
      background-color: #9189C7!important;
  }
  
  .visualiser.activated{
      background-color: #9189C7!important;
  }
  
  .toggle-ios.toggle-checked .toggle-icon{
      background-color: #9189C7!important;
  }
  
  
  
  
  page-assurance{
      .zto-savoirPlus{
  
          h2{
              color:white!important;
          }
          nav{
              ul{
                  li{
                      color:white!important;
                  }
              }
          }
      }
  }
  
  }
}

ion-footer {
    position: absolute;
    bottom: 0;
}