<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ng-container class="theme-default">
<ion-header class="headers"><ion-grid>
  <ion-row>
    <ion-col col-2 text-center>
      <a>
      </a>
    </ion-col>
    <ion-col col col-2></ion-col>
    <ion-col col-4 text-center>
      <a>
        <img class="logo" src="assets/imgs/logo_spectacles.png" alt="">
      </a>
    </ion-col>
    <ion-col col-2 text-right>
    </ion-col>
    <ion-col col-2 text-center>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-header>

<ion-content class="background-content" padding #content>
  <input [(ngModel)]="ip" placeholder="Chat Bot IP">
  <button (click)="ipCo()">OK</button>
  <p class="warning">Pour le moment, le bot comprend les noms de villes mais ne s'en sert pas dans la recherche. Idem pour les noms de themes.<br>Pour le moment, le bot peut utiliser dans sa recherche un nom d'artiste et/ou une date ou une pèriode.</p>
  <div class="chats">
    <div class="chatbox">
      <div *ngFor="let msgWrapper of conversation">
        <div class="message sent" *ngIf="msgWrapper.sender === 'me'">
          {{msgWrapper.message}}
          <span class="metadata">
            <span class="time">{{msgWrapper.createdAt | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
        <div class="message received" *ngIf="msgWrapper.card">
            {{msgWrapper.card.title}}<br>
            {{msgWrapper.card.subtitle}}
            <img src="{{msgWrapper.card.imageUrl}}">
            <button ion-button class="acheter" (click)="afficher()">AFFICHER LE RÉSULTAT</button>
          </div>
          <div class="message received" *ngIf="msgWrapper.suggestion">
              <button ion-button class="acheter" *ngFor="let s of msgWrapper.suggestion.replies" (click)="sendMessage(s)">{{s}}</button>
            </div>
        <div class="message received" *ngIf="msgWrapper.sender === 'bot' && msgWrapper.message">
          {{msgWrapper.message}}
          <span class="metadata">
            <span class="time">{{msgWrapper.createdAt | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <p text-center *ngIf="sending">sending...</p>
  <div class="flex-items" padding>

    <ion-input [(ngModel)]="myMessage" name="myMessage" class="input_message" placeholder="send message ..." (keyup.enter)="onEnter()"></ion-input>
    <ion-icon (click)="sendMessage()" class="send" name="send"></ion-icon>
    <ion-icon (click)="sendVoice()" *ngIf="!iosListening" class="send" name="mic"></ion-icon>
    <ion-icon (click)="endVoice()" *ngIf="iosListening" class="send" name="mic-off"></ion-icon>
  </div>
</ion-footer>
</ng-container>